* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "IBM Plex Mono", serif;
	font-weight: 400;
	font-style: normal;
	vertical-align: baseline;
}

body {
	overflow: hidden;
	background-color: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: relative;
	z-index: -1;
}
/* Grid background Layout */
.grid {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 40px 40px;
	background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.05) 1px,
			transparent 1px
		),
		linear-gradient(to top, rgba(255, 255, 255, 0.05) 1px, transparent);
	pointer-events: auto;
}
/* Triangle icons that move in background */
.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid;
	/* This is the width of the triangle */
	transition: transform 0.6s linear, left 0.6s linear, top 0.6s linear;
	transform-origin: center;
}
.trail {
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	opacity: 1;
	transition: opacity 1s linear;
}

.card {
	border: 5px solid black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 575px;
	width: 350px;
	background-color: rgb(255, 255, 255);
	z-index: 100;
	box-shadow: 0 5px 10px;
	background-color: rgba(255, 255, 255, 0.8);
}

.logo-link {
	padding: 10px;
}

.logo-link > * {
	width: 90px;
	height: auto;
}

.github-path {
	fill: #2b3137;
	transition: 0.5s;
	filter: drop-shadow(0 0.5px 1px #2b3137b3);
}
.github-path:hover {
	fill: #1a1e21;
	filter: drop-shadow(0 0.5px 1px #7c72ffb3);
}

.cls-1 {
	fill: #0077b5;
	stroke: #0077b5;
	stroke-miterlimit: 10;
	stroke-width: 8px;
	transition: 0.5s;
	filter: drop-shadow(0 2px 2px #016ba3b3);
}

.cls-1:hover {
	fill: #016ba3;
	stroke: #016ba3;
	filter: drop-shadow(0 4px 3px #016ba3);
}

.linkedin-paths {
	fill: rgb(255, 255, 255);
}

.josh-logo {
	margin-left: 30%;
	margin-right: 30%;
	height: auto;
}

@media screen and (max-width: 600px) {
	.card {
		width: 68%;
		height: 60%;
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.card {
		width: 75%;
		height: 60%;
		text-align: center;
	}
}
